<html>
	<head>
		<title>Video Feed</title>
		<script src="js/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />

		<!-- Optional theme -->
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="css/video-client.css" />
	</head>
	<body>
		<img id="video-feed" src="" />
		<div id="video-status-container">
			<h1 id="video-status">Connecting to server...</h1>
		</div>
		<span id="battery" class="fa fa-battery-full" data-toggle="tooltip" title="100%"></span>
		<div id="ammocontainer" class="container">
			<h1>Ammo</h1>
			<table>
				<tr>
					<td id="dart-count" class="number">63</td>
					<td class="x">x</td>
					<td class="ammo-image"><img src="images/dart.png" /></td>
				</tr>
				<tr>
					<td id="ball-count" class="number">5</td>
					<td class="x">x</td>
					<td class="ammo-image"><img src="images/ball.png" /></td>
				</tr>
			</table>
		</div>
		<div id="targetstatuscontainer">
			<h1>Targeting</h1>
			<h2 id="target-status">OFF</h2>
		</div>
		<button id="optionsbutton">Options</button>
	</body>
</html>

<script type="text/javascript" src="socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">
var getData;
(getData = function() {
	console.log("test");
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4) {
			if(this.status == 200) {
				var jsonData = JSON.parse(xhttp.responseText);
				document.getElementById("video-feed").src = "data:image/png;base64," + jsonData["image"];
				document.getElementById("video-feed").style.visibility = "visible";
				document.getElementById("targetstatuscontainer").style.visibility = "visible";
				document.getElementById("video-status-container").style.visibility = "hidden";
				document.getElementById("target-status").innerHTML = jsonData["targetStatus"];
				document.getElementById("dart-count").innerHTML = jsonData["dartAmmo"];
				document.getElementById("ball-count").innerHTML = jsonData["ballAmmo"];
				getData();
			} else {
				document.getElementById("video-feed").style.visibility = "hidden";
				document.getElementById("targetstatuscontainer").style.visibility = "hidden";
				
				document.getElementById("video-status-container").style.visibility = "visible";
				getData();
			}
		}
	};
	xhttp.open("GET", "/data", true);
	xhttp.send();
})();
</script>
